@{
    ViewData["Title"] = "Action Successfull";
}

<h2>Action Successfull</h2>

<p>
    @ViewBag.SuccessMessage
</p>

<p>
    <a asp-action="Index" asp-controller="Employee">Back to Employees List</a>
</p>
